<tr>
  <td>
    <a href="/trip/<%=trip.id%>"><%=trip.name%></a>
    <% schedule.each do |schedule| %>
      <a href="/trip/<%=trip.id%>/<%=schedule.begin.to_date%>">
      	<span class="label label-default"><%=schedule.begin.to_date%></span>
      </a>
    <% end %>
  </td>
</tr>