<div class="jumbotron">

  <div class="row">
    <h1><%=@trip.name%></h1>

    <% if @photos.size > 0 then %>
      <div class="col-md-6">
        <%= render partial: "adv_slider", :locals => { :photos => @photos } %>
      </div>
      
      <div class="col-md-6">   
        <p><%=@trip.introduction.html_safe%></p>
        <% if not @trip.cost.nil? %>
          <p><%=t("order.cost")%><b><%= @trip.cost %></b></p>
        <% end %>

        <%= render partial: "next_trip", object: @next_trip %>
      </div>
    <% else %>
      <p><%=@trip.introduction.html_safe%></p>
      <% if not @trip.cost.nil? %>
        <p><%=t("order.cost")%><b><%= @trip.cost %></b></p>
      <% end %>
      <%= render partial: "next_trip", object: @next_trip %>
    <% end %>

    <center>
      <%= link_to t("order.new"), new_order_path(@trip, @date), :class=>"btn btn-lg btn-info" %>
    </center>
  </div>
</div>

<p>
  <%= @trip.description.html_safe %>
</p> 
    
<center>
  <%= link_to t("order.new"), new_order_path(@trip, @date), :class=>"btn btn-lg btn-info" %>
</center>