<div class="container">
  <div class="jumbotron">

    <div class="row">
      <div class="col-md-6">
        <%= render partial: "adv_slider" %>
      </div>
        
      <div class="col-md-6">   
        <h1><%=@trip.name%></h1>
        <p><%=@trip.introduction%></p>
        <%= render partial: "next_trip", object: @next_trip %>
      </div>

    </div>

    <center>
      <a class="btn btn-lg btn-info" href="/order/<%=@trip.permalink%>/<%=@date%>" role="button">Забронировать на <%=@date%></a>
    </center>

  </div>
  <p>
    <%= @trip.description %>
  </p> 
  <center>
    <a class="btn btn-lg btn-info" href="/order/<%=@trip.permalink%>/<%=@date%>" role="button">Забронировать на <%=@date%></a>
  </center>
</div> 

<script>
  // Can also be used with $(document).ready()
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>